@model J4.Models.Recipes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
           <img src="@Html.DisplayFor(model => model.Image)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resources)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resources)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
